<!DOCTYPE html>
<html>
<head>
  <title>File Upload</title>
</head>
<body ng-app="FileMetadata">

<div class="container">
  <h1>Upload a File</h1>
  <hr class="soften"/>

  <div ng-controller="fileCtrl as fileUpload">
    <div>
        <form name="form">
             <input type="file" ngf-select ng-model="fileUpload" name="file" ngf-pattern="'*'"/><br/>
             <button type="submit" ng-click="fileUpload.submit(fileUpload.file)">submit</button>
        </form>
    </div>
    <br/>
    <p>
        Data: {{fileUpload.fileData}}
    </p>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.1.0/ng-file-upload.min.js"></script>
   <script src="./controller.js"></script>
</body>
</html>